@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Code+Pro:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root{
  --typewriterSpeed: 6s;
}


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

.navbar_home{
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  color: white;
  text-align: center;
  text-align: middle;
}
.logo {
  color: white;
  font-size: 22px;
  letter-spacing: 3px;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
  opacity: 90%;
  color: white;
}

.navlinks{
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-top: auto;
  font-family: "open sans";
  font-size: 18px;
  font-weight: lighter;
}
.navlinks a{
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.spacing_for_nav{
  padding-top: 3%;
}



#cali-front{
  font-family: "Dpdorkdiary";
  text-transform: capitalize;
}



.mega-bground{
  margin: 3%;
  box-shadow: 0 0 30px 7px black;
}

body{
background-image: url("images/body-background-3.jpg");
background-attachment: fixed;
background-color: #E81E63;
}
::-webkit-scrollbar {
  background-color: black;
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background-image: url("https://fsb.zobj.net/crop.php?r=ck4OWMF8-gbhIH1roVtTAz0HlI8XifVHix3TEmeruh356szTxaabTFr21jyMg7CZYAlyRvOIuqSkrfgKnl3BBVstlQrtmPeL81dpoUFeqageQQV8u3YusIO6fHlLoE3ZjuVFUGVjXx1kvucS");
  border-radius: 100px;
  height: 2px;
}

::-webkit-scrollbar-track-piece{
  background-image: url("https://img.freepik.com/free-vector/dark-wavy-background-gradient_23-2148385755.jpg?size=626&ext=jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.jumbotron{
  text-align: left;
  color: white;
  padding-top: 260px;
  padding-left: 8%;
  font-family: "open sans";
  height: 850px;
  margin-bottom: 0px;
  background-color: transparent;
}
h1{
  font-size: 60px;
}
h4{
  font-size: 30px;
  font-weight: 200;
}
.navbar-brand{
  font-family: "open sans";
  font-size: 25px;
  font-weight: 600;
  padding-left: 15px;

}
.navbar-brand:hover{
  filter: opacity(80%);
}

.sec_header{
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  background-color: black;
  text-align: center;
  background-image: url("/images/background-2nd-header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0 200px 100px black;
  text-shadow: 2px 0px grey;
  text-transform: capitalize;
  
}
#h1_infirst_sec{
  font-weight: 100;
  font-family: "Source Code Pro";
  font-size: 40px;
  position: relative;
  display: inline-block;
  background-image: url("/images/typewriter-animation-image.jpg");
}

#h1_infirst_sec::before,

#h1_infirst_sec::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}

#h1_infirst_sec::after{
  width: 0.1em;
  background: #fa00d4;
  animation: typewriter var(--typewriterSpeed) steps(31) 2s infinite,
  blink 500ms steps(31) infinite;
}

#h1_infirst_sec::before{
  background-image: url("/images/typewriter-animation-image.jpg");
  animation: typewriter var(--typewriterSpeed) steps(31) 2s infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to{
    background: transparent;
  }
}

#englishword{
  text-shadow: 2px 2px #fa00d4;
  color: #FFFFFF;
  text-shadow: -3px 0px 0px #fa00d4;
  color: #FFFFFF;
}

#englishword:hover{
  text-shadow: 2px 2px red;
}

.bg-for-head-nav{
  background-image: url("images/background_image-head-6.jpg");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 30px;
  height: 1.5px;
  background-color: white;
  margin: 8px;
  border-radius: 3px;
  transition: all 0.3s ease;
}


@media (max-width: 1024px){
  .navlinks{
    width: 50%;
  }
}


@media screen and (max-width:890px){
  body{
    overflow-x: hidden;
  }
  #header{
    padding-bottom: 150px;
  }
  #h1_infirst_sec{
    font-size: 22px;
  }
  h1 {
    font-size: 38px;
    text-align: center;

  }
  h4{
    font-size: 27px;
    text-align: center;
    font-weight: 100;
  }
  .jumbotron{
    padding-left: 0px;
  }
  .navlinks{
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s;
  
  }
  .navlinks li{
    opacity: 0;
  }
  .burger{
    display: block;
    z-index: 9999;
  }
}
.nav-active{
  transform: translateX(0%);
}


@keyframes navlinkfade{
  from{
    opacity: 0;
    transform: translateX(50px)
  }
  to{
    opacity: 1;
    transform: translateX(0px)
    
  }
}

.toggle .line1{
  transform: rotate(-45deg translate(-5px, 6px));
}
.toggle .line2{
  transform: rotate(45deg translate(-5px, -6px));
}
